:root {
  --pixel-size: 8px;

  /* Backgrounds */
  --backgroud: rgb(62, 43, 126);
  --primary-background: #faf8ef;
  --secondary-background: #b59d87;
  --score-background: rgb(144, 127, 238);
  --board-background: rgb(23, 20, 60);
  --cell-background: rgb(19, 16, 49);
  --tile-background: rgb(19, 16, 49);
  --button-background: rgb(141, 128, 231);

  /* Colors */
  --primary-text-color: #776e65;
  --secondary-text-color: #f9f6f2;
}

body {
  margin: 0;
  font-family: "Futura", sans-serif;
  background: var(--backgroud);
  color: var(--primary-text-color);
  font-size: calc(var(--pixel-size) * 2.25);
  line-height: calc(var(--pixel-size) * 3.5);
}

a {
  color: var(--primary-text-color);
  font-weight: bold;
}

a:hover,
a:focus {
  opacity: 0.8;
}

h1 {
  font-size: calc(var(--pixel-size) * 5);
  line-height: calc(var(--pixel-size) * 5);
  margin: calc(var(--pixel-size) * 1.5) calc(var(--pixel-size) * 0);
}

h2 {
  font-size: calc(var(--pixel-size) * 2.5);
  line-height: calc(var(--pixel-size) * 3.75);
  margin: calc(var(--pixel-size) * 2.5) calc(var(--pixel-size) * 0);
}

h2 > span {
  display: block;
}

@media (min-width: 512px) {
  h1 {
    font-size: calc(var(--pixel-size) * 8.5);
    line-height: calc(var(--pixel-size) * 8.5);
    margin: calc(var(--pixel-size) * 2.25) calc(var(--pixel-size) * 0);
  }

  h2 > span {
    display: inline;
  }
}
